extends layout

//- 마이 페이지
block content
    p 마이페이지
    div(name="mypage")
        li name : #{user.USER_NAME}
        li Resident Registration Number : #{user.RESIDENT_REGISTRATION_NUMBER}
        li Education : #{user.EDUCATION}
        li Work Experience : #{user.WORK_EXPERIENCE}
        li Join Company Date : #{moment(user.JOIN_COMPANY_DATE).format('YYYY-MM-DD')}
        li Skill Set : #{user.SKILL_SET}
        li Job : #{user.job}
    
//-   table(name="developer")
//-     tr
//-         th
//-             | name
//-         th
//-             | Resident Registration Number
//-         th
//-             | Education
//-         th
//-             | Work Experience
//-         th
//-             | Join Company Date
//-         th
//-             | Skill set
//-         th
//-             | Job
//-     tr
//-         td
//-             | #{user.USER_NAME}
//-         td
//-             | #{user.RESIDENT_REGISTRATION_NUMBER}
//-         td
//-             | #{user.EDUCATION}
//-         td
//-             | #{user.WORK_EXPERIENCE}
//-         td
//-             | #{user.JOIN_COMPANY_DATA}
//-         td
//-             | #{user.SKILL_SET}
//-         td
//-             | #{user.job}