extends layout

//- 프로젝트 인원 투입 페이지 : 프로젝트 선택, 개발자 선택
block content
  form(action="/configureInput", method="post")
    .row.mt-3
      .col.text-center
        h2 프로젝트 인원 투입
    .row.align-items-center.mt-4
      .col.ml-3
        h3.mb-3 프로젝트 선택
        select.custom-select(name="project", size="1")
          each project in projects
            option(value=project[0]) #{project[1]} by #{project[2]}
    .row.align-items-center.mt-4
      .col
        h3.mb-3.ml-3 개발자 선택
        table.table
          thead
            tr
              th(scope="col") 
              th(scope="col") ID
              th(scope="col") 이름
              th(scope="col") 주민번호
              th(scope="col") 최종학력
              th(scope="col") 경력
              th(scope="col") 입사일
              th(scope="col") skill
          tbody
            each d in developers
              tr
                td
                  .form-check
                    input#defaultCheck1.form-check-input(type="checkbox" name="developer" value=`${d[0]}`)
                th(scope="row")= d[1]
                td= d[2]
                td= d[3]
                td= d[4]
                td= d[5]
                td #{moment(d[6]).format('YYYY-MM-DD')}
                td= d[7]
    .row.justify-content-start.mt-4
      .col(style="margin-bottom: 1em")
        button.btn.btn-dark.mr-3(type="submit", style="float: right") 투입 설정
        