extends layout

//- PM 등록 페이지 : 프로젝트 선택
block content
  form(action="/appointPM", method="post")
    .row.mt-3
      .col.text-center
        h2 PM 등록
    .row.align-items-center.mt-4
      .col
        h3.mb-3.ml-3 프로젝트 선택
        table.table
          thead
            tr
              th(scope="col") 
              th(scope="col") 프로젝트명
              th(scope="col") 착수일자
              th(scope="col") 종료일자
              th(scope="col") 발주처
          tbody
            each p in projects
              tr
                td
                  input(type="radio" name="prj" value=`${p[0]}`)
                th(scope="row")= p[1]
                td #{moment(p[2]).format('YYYY-MM-DD')}
                td #{moment(p[3]).format('YYYY-MM-DD')}
                td= p[4]
    .row.justify-content-start.mt-4
      .col(style="margin-bottom: 1em")
        button.btn.btn-dark.mr-3(type="submit", style="float: right") Select Developer
    
