extends ../layout

//- 프로젝트 관리 페이지
//- 검색 전 보여지는 값은 현재 날짜에 진행중인 프로젝트
block content
  .container
    h1.text-center.mt-3 프로젝트 관리
    h4 프로젝트 검색
    form(action='/management/showProject', method='post')
      .input-group.mb-3
        input.form-control(type="text" name="project" placeholder="input project name!")
        .input-group-append
          button.btn.btn-dark(type="submit") 프로젝트 검색
    button.btn.btn-dark(type="button" onclick="location.href='addProject'" style="float: right") 프로젝트 추가
    br
    h4 현재 진행중인 프로젝트 목록
    .row.align-items-center.mt-4
      .col
        table.table.text-center
          thead
            tr
              th(scope="col") 프로젝트명
              th(scope="col") 프로젝트 시작일
              th(scope="col") 프로젝트 종료일
              th(scope="col") 발주처
          tbody
            each value in prj_cur
              tr
                td=value[0]
                td=moment(value[1]).format('YYYY-MM-DD')
                td=moment(value[2]).format('YYYY-MM-DD')
                td=value[3]
    h4 완료된 프로젝트 목록
    .row.align-items-center.mt-4
      .col
        table.table.text-center
          thead
            tr
              th(scope="col") 프로젝트명
              th(scope="col") 프로젝트 시작일
              th(scope="col") 프로젝트 종료일
              th(scope="col") 발주처
          tbody
            each value in prj_before
              tr
                td=value[0]
                td=moment(value[1]).format('YYYY-MM-DD')
                td=moment(value[2]).format('YYYY-MM-DD')
                td=value[3]
