extends ../layout

//- PM 등록 페이지 : 투입,방출일자를 수정할 개발자
block content
  form(action="/management/modifiedInAndOut", method="post")
    .row.mt-3
      .col.text-center
        h2 투입,방출일자 수정 개발자 선택
    .row.align-items-center.mt-4
      .col
        h3.mb-3.ml-3 선택된 프로젝트
        input.form-control(type="text" name="project" value=`${selected}` readonly)
        input(type="hidden" name="project_num" value=`${project_num}`)
    .row.align-items-center.mt-4
      .col
        h3.mb-3.ml-3 투입일 선택
        input.form-control(type="date" name="join_date")
      .col
        h3.mb-3.ml-3 방출일 선택
        input.form-control(type="date" name="out_date")
    .row.align-items-center.mt-4
      .col
        h3.mb-3.ml-3 개발자 선택
        table.table
          thead
            tr
              th(scope="col") 
              th(scope="col") ID
              th(scope="col") 이름
              th(scope="col") 투입일자
              th(scope="col") 방출일자
          tbody
            each d in developer
              tr
                td
                  input(type="radio" name="developer" value=`${d[0]}`)
                th(scope="row")= d[1]
                td= d[2]
                td #{moment(d[3]).format('YYYY-MM-DD')}
                td #{moment(d[4]).format('YYYY-MM-DD')}
    .row.justify-content-start.mt-4
      .col(style="margin-bottom: 1em")
        button.btn.btn-dark.mr-3(type="submit", style="float: right") 수정