extends ../layout

//- 고객평가 세부정보
block content
  h1.text-center.mt-5 #{result[0][0]}
  h4.text-center.mb-5 #{moment(result[0][1]).format('YYYY-MM-DD')} ~ #{moment(result[0][2]).format('YYYY-MM-DD')}
  form(action="/peerEvaluationDetail", method="post")
    table.table.pull-center.table-hover.text-center(style="width: 90%; margin: auto")
      thead.thead-light
        tr
          th(scope="col") 평가자
          th(scope="col") 피평가자
          th(scope="col") 업무수행평가 점수
          th(scope="col") 업무수행평가 내용
          th(scope="col") 커뮤니케이션능력평가 점수
          th(scope="col") 커뮤니케이션능력평가 내용
      tbody
        each val, index in evaluators_name
          tr
            td #{val}
            td #{evaluateds_name[index]}
            td #{result[index][3]}
            td #{result[index][4]}
            td #{result[index][5]}
            td #{result[index][6]}